.crmMailingRecur select{
  width: auto;
}

.crmMailingRecur input[type=number] {
  width: 3em;
}

.crmMailingRecur .ng-invalid-at-least-one-day.ng-dirty .days-of-week{
  border: 1px solid red;
  color: red;
}
