<div class="crmMailingRecur">
  <div class="crm-block crm-form-block">
    <form name='crmMailingRecur' ng-submit="schedule()">
      <div class="crm-section">
        <div class="label">Repeat on a </div>
        <div class="content">
          <select ng-model="freq" ng-options="freq as freq.label for (i, freq) in freqs" /> basis
        </div>
        <div class="clear"></div>
      </div>
      <div class="crm-section">
        <div class="label">Send every</div>
        <div class="content"><select ng-model="interval" ng-options="interval for interval in intervals" /> {{ freq.interval }}</div>
        <div class="clear"></div>
      </div>

      <div class="crm-section">
        <div class="label">starting on</div>
        <div class="content"><input ng-min="{{now | date:'yyyy-MM-ddTHH:mm'}}" type=datetime-local ng-model="start" required/></div>
        <div class="clear"></div>
      </div>

      <div class="crm-section" ng-if="freq.value=='WEEKLY'">
        <div class="label">every</div>
        <div class="content days-of-week">
          <span ng-repeat="dayOfWeek in daysOfWeek">
  ng-change         <input type="checkbox" name="dayOfWeek_{{dayOfWeek.value}}" ng-model="dayOfWeek.selected" ng-change="validateDaysOfWeek();setWeekly()">{{dayOfWeek.value}}
        </span>
        <div ng-show="crmMailingRecur.$error.atLeastOneDay">Please choose a day</div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="crm-section" ng-if="freq.value=='MONTHLY'">
        <div class="label">Repeat by</div>
        <div class="content"><select ng-model="$parent.monthRepeat" ng-options="monthRepeat as monthRepeat.label for (i, monthRepeat) in monthRepeats"/></div>
        <div class="clear"></div>
      </div>

      <div class="crm-section" ng-if="freq.value=='MONTHLY'">
        <div class="label">on the</div>
        <div class="content" ng-if="monthRepeat.value=='dayofweek'">
          <select ng-model="$parent.$parent.weekOfMonth" ng-change="setMonthly()" ng-options="weekOfMonth as weekOfMonth.label for (i, weekOfMonth) in weeksOfMonth" />
          <select ng-model="$parent.$parent.dayOfWeek" ng-change="setMonthly()" ng-options="dayOfWeek as dayOfWeek.label for dayOfWeek in daysOfWeek" /> of the month
        </div>
        <div class="content" ng-if="monthRepeat.value=='dayofmonth'">
          <select ng-model="$parent.$parent.dayOfMonth" ng-change="setMonthly()" ng-options="dayOfMonth as dayOfMonth.label for dayOfMonth in daysOfMonth" /> day of the month
        </div>
        <div class="clear"></div>
      </div>

      <div class="crm-section">
        <div class="label">ending</div>
        <div class="content">
          <div>
            <input type="radio" ng-model="end" value="never"> never
          </div>
          <div>
            <input type="radio" ng-model="end" value="until"> on the <input type="date" ng-model="until" ng-focus="setEnd('until')" ng-required="end=='until'"/>
          </div>
          <div>
            <input type="radio" ng-model="end" value="count"> after <input type="number" min="1" ng-model="count" ng-focus="setEnd('count')" ng-required="end=='count'"> occurences
          </div>
        </div>
        <div class="clear"></div>

        <div class="crm-submit-buttons" style="text-align: center;">
          <input class="crm-form-submit default validate" crm-icon="fa-check" value="Schedule" type="submit" style="font-size: 1.2em; padding: 6px;">
        </div>
      </div>

  </div>
  </form>
</div>
</div>
