.crmMailing .crmMailingRecur select{
  width: auto;
}

.crmMailing .crmMailingRecur input[type=number] {
  width: 3em;
}

.crmMailing .crmMailingRecur .ng-invalid-at-least-one-day.ng-dirty .days-of-week{
}

.crmMailingRecur-invalid{
  border: 1px solid red;
  color: red;
}
