.crmMailing .crmMailingRecur select{
  width: auto;
}

.crmMailing .crmMailingRecur input[type=number] {
  width: 3em;
}

.crmMailingRecur .ng-invalid-at-least-one-day.ng-dirty .days-of-week,
.crmMailingRecur .ng-invalid-start-date-required.ng-dirty .start,
.crmMailingRecur .ng-invalid-until-date-required.ng-dirty .until{
  border: 1px solid red;
  color: red;
}
